@model PetManager.ViewModels.PetsAndAnimalTypeVM

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/Images/" + (Model.Pet.PhotoPath ?? "noimage.jpg");
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <div class="col-md-2">
            <div>
                <th>@Html.DisplayNameFor(model => model.Pet.Name)</th>                
            </div>
            <div>
                <th>@Html.DisplayNameFor(model => model.Pet.Age)</th>                
            </div>
            <div>
                <th>Animal Type</th>                
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <th>@Html.DisplayFor(model => model.Pet.Name)</th>
            </div>
            <div>
                <th>@Html.DisplayFor(model => model.Pet.Age)</th>
            </div>
            <div>
                <th>@Html.DisplayFor(model => model.AnimalTypes[0].Name)</th>
            </div>
            <div>
                <img src="@photoPath" asp-append-version="true" style="width:100%"/>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <dl>To Do Tasks for @Model.Pet.Name</dl>
                @foreach (ToDoTask task in Model.PetsTasks)
                {
                    <dd><a asp-action="Edit" asp-controller="ToDoTasks" asp-route-id="@task.TaskId">@task.TaskName</a></dd>
                }
            </div>
        </div>
     </dl>
    
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pet.PetId">Edit @Model.Pet.Name</a> |
    <a asp-action="Delete" asp-route-id="@Model.Pet.PetId">Remove Pet</a> |
    <a asp-action="Index" asp-controller="PetOwners">Back to Home</a>
</div>
