@model PetManager.ViewModels.TasksAndPetsVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    <div style="background-color:pink" class="col-md-3">
        <table>
            <thead>
                <tr>
                    <th>Pet Name</th>
                    <th>Animal Type</th>
                </tr>
            </thead>
            @foreach (Pet pet in Model.CurrentUsersPets)
            {
                <tr>
                    <td>@pet.Name</td>
                    <td>@pet.AnimalType.Name</td>
                </tr>
            }
            <tr><td><a asp-controller="Pets" asp-action="Create">Add New Pet</a></td></tr>
        </table>
        
    </div>
    <div class="col-md-9" style="background-color:grey;">
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Completed</th>
                </tr>
            </thead>
            @foreach (ToDoTask task in Model.CurrentUsersTasks)
            {
                <tr>
                    <td>@task.TaskName</td>
                    <td><a class="btn btn-primary" asp-controller="ToDoTasks" asp-action="CheckOffTask" asp-route-id="@task.TaskId">Check Off Task</a></td>
                </tr>
            }
        <tr>
            <td><a asp-controller="ToDoTasks" asp-action="Create">Add New Task</a></td>
        </tr>
        </table>
        <h3>Nearby Pet Stores</h3>
        <div id="map" height="400px" width="100%"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: @Model.PetOwner.Lat, lng: @Model.PetOwner.Lng},
                    zoom: 10
                });
                @for (int i = 0; i < Model.NearbyPetStores.results.Length; i++){                                           
                    double storeLat = @Model.NearbyPetStores.results[i].geometry.location.lat;
                    double storeLng = @Model.NearbyPetStores.results[i].geometry.location.lng;
                    <text>
                    var marker = new google.maps.Marker({
                        position: { lat: @storeLat, lng: @storeLng },
                        map: map
                    });
                    </text>
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.googleAPIKey&callback=initMap" async defer></script>
    </div>
</div>
