@model PetManager.Models.ToDoTask

@{
    ViewBag.Title = "ContactTaskDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Task Info</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Task Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            Special Instructions
        </dt>
        @if (Model.SpecialInstructions == null)
        {
            <dd class="col-sm-10">
                N/A
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialInstructions)
            </dd>
        }

        <dt class="col-sm-2">
            Pet
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Pet.Name
        </dd>
        <dt class="col-sm-2">
            Task Interval
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency.Interval)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="PetOwners" asp-action="IndexForContact" asp-route-contactId="@ViewBag.contactId">Back to Home</a>
</div>
